In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Input, Flatten
from sklearn.model_selection import train_test_split

In [15]:
def format_output(data):
    y1 = data.pop('Y1')
    y1 = np.array(y1)
    y2 = data.pop('Y2')
    y2 = np.array(y2)
    return y1, y2


def norm(x):
    return (x - train_stat['mean']) / train_stat['std']


def plot_diff(y_true, y_pred, title=''):
    plt.scatter(y_true, y_pred)
    plt.title(title)
    plt.xlabel('True Values')
    plt.ylabel('Predictions')
    plt.axis('equal')
    plt.axis('square')
    plt.xlim(plt.xlim())
    plt.ylim(plt.ylim())
    plt.plot([-100, 100], [-100, 100])
    plt.show()


def plot_metrics(metric_name, title, ylim=5):
    plt.title(title)
    plt.ylim(0, ylim)
    plt.plot(history.history[metric_name], color='blue', label=metric_name)
    plt.plot(history.history['val_' + metric_name], color='green', label='val_' + metric_name)
    plt.show()

In [3]:
# URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx'

In [4]:
# Get the data from UCI dataset
# URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx'

df = pd.read_excel("./ENB2012_data.xlsx", engine='openpyxl')
df.head(10)

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2,Unnamed: 10,Unnamed: 11
0,0.98,514.5,294.0,110.25,7.0,2.0,0.0,0.0,15.55,21.33,NaN,NaN
1,0.98,514.5,294.0,110.25,7.0,3.0,0.0,0.0,15.55,21.33,NaN,NaN
2,0.98,514.5,294.0,110.25,7.0,4.0,0.0,0.0,15.55,21.33,NaN,NaN
3,0.98,514.5,294.0,110.25,7.0,5.0,0.0,0.0,15.55,21.33,NaN,NaN
4,0.90,563.5,318.5,122.50,7.0,2.0,0.0,0.0,20.84,28.28,NaN,NaN
5,0.90,563.5,318.5,122.50,7.0,3.0,0.0,0.0,21.46,25.38,NaN,NaN
6,0.90,563.5,318.5,122.50,7.0,4.0,0.0,0.0,20.71,25.16,NaN,NaN
7,0.90,563.5,318.5,122.50,7.0,5.0,0.0,0.0,19.68,29.60,NaN,NaN
8,0.86,588.0,294.0,147.00,7.0,2.0,0.0,0.0,19.50,27.30,NaN,NaN
9,0.86,588.0,294.0,147.00,7.0,3.0,0.0,0.0,19.95,21.97,NaN,NaN

In [5]:
df = df.sample(frac=1).reset_index(drop = True)
# returns random rows and resets index by droping previous index
df.head(10)

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2,Unnamed: 10,Unnamed: 11
0,0.62,808.5,367.5,220.5,3.5,5.0,0.40,2.0,17.15,16.99,NaN,NaN
1,0.76,661.5,416.5,122.5,7.0,4.0,0.25,3.0,35.64,37.28,NaN,NaN
2,0.62,808.5,367.5,220.5,3.5,2.0,0.40,4.0,16.44,17.10,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.66,759.5,318.5,220.5,3.5,3.0,0.10,2.0,11.42,14.75,NaN,NaN
5,0.71,710.5,269.5,220.5,3.5,2.0,0.25,2.0,12.33,14.91,NaN,NaN
6,0.62,808.5,367.5,220.5,3.5,3.0,0.40,1.0,17.17,17.21,NaN,NaN
7,0.90,563.5,318.5,122.5,7.0,2.0,0.10,4.0,29.06,29.34,NaN,NaN
8,0.79,637.0,343.0,147.0,7.0,2.0,0.25,3.0,39.04,45.13,NaN,NaN
9,0.74,686.0,245.0,220.5,3.5,5.0,0.25,5.0,12.02,14.03,NaN,NaN

In [6]:
train, test = train_test_split(df, test_size=0.2)
train_stats =train.describe()
train_stats

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2,Unnamed: 10,Unnamed: 11
count,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,0.0,0.0
mean,0.761779,673.770181,318.822900,177.473641,5.212521,3.500824,0.230643,2.799012,22.134886,24.440280,NaN,NaN
std,0.105479,88.020073,44.037679,45.192366,1.751042,1.122637,0.133189,1.557204,10.132589,9.509682,NaN,NaN
min,0.620000,514.500000,245.000000,110.250000,3.500000,2.000000,0.000000,0.000000,6.010000,10.900000,NaN,NaN
25%,0.660000,612.500000,294.000000,147.000000,3.500000,2.000000,0.100000,1.000000,12.940000,15.430000,NaN,NaN
50%,0.740000,686.000000,318.500000,220.500000,3.500000,4.000000,0.250000,3.000000,18.160000,21.530000,NaN,NaN
75%,0.820000,759.500000,343.000000,220.500000,7.000000,4.500000,0.400000,4.000000,31.660000,33.100000,NaN,NaN
max,0.980000,808.500000,416.500000,220.500000,7.000000,5.000000,0.400000,5.000000,43.100000,48.030000,NaN,NaN

In [7]:
train_stats.pop('Y1')
train_stats.pop('Y2')

count    607.000000
mean      24.440280
std        9.509682
min       10.900000
25%       15.430000
50%       21.530000
75%       33.100000
max       48.030000
Name: Y2, dtype: float64

In [8]:
train_stats

,X1,X2,X3,X4,X5,X6,X7,X8,Unnamed: 10,Unnamed: 11
count,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,0.0,0.0
mean,0.761779,673.770181,318.822900,177.473641,5.212521,3.500824,0.230643,2.799012,NaN,NaN
std,0.105479,88.020073,44.037679,45.192366,1.751042,1.122637,0.133189,1.557204,NaN,NaN
min,0.620000,514.500000,245.000000,110.250000,3.500000,2.000000,0.000000,0.000000,NaN,NaN
25%,0.660000,612.500000,294.000000,147.000000,3.500000,2.000000,0.100000,1.000000,NaN,NaN
50%,0.740000,686.000000,318.500000,220.500000,3.500000,4.000000,0.250000,3.000000,NaN,NaN
75%,0.820000,759.500000,343.000000,220.500000,7.000000,4.500000,0.400000,4.000000,NaN,NaN
max,0.980000,808.500000,416.500000,220.500000,7.000000,5.000000,0.400000,5.000000,NaN,NaN

In [9]:
train_stat = train_stats.transpose()
train_stat

,count,mean,std,min,25%,50%,75%,max
X1,607.0,0.761779,0.105479,0.62,0.66,0.74,0.82,0.98
X2,607.0,673.770181,88.020073,514.50,612.50,686.00,759.50,808.50
X3,607.0,318.822900,44.037679,245.00,294.00,318.50,343.00,416.50
X4,607.0,177.473641,45.192366,110.25,147.00,220.50,220.50,220.50
X5,607.0,5.212521,1.751042,3.50,3.50,3.50,7.00,7.00
X6,607.0,3.500824,1.122637,2.00,2.00,4.00,4.50,5.00
X7,607.0,0.230643,0.133189,0.00,0.10,0.25,0.40,0.40
X8,607.0,2.799012,1.557204,0.00,1.00,3.00,4.00,5.00
Unnamed: 10,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
train_y = format_output(train)
train_y

(array([42.08,   nan, 14.61, ..., 35.69, 25.38,   nan]),
 array([38.23,   nan, 15.07, ..., 36.93, 26.72,   nan]))

In [11]:
test_y = format_output(test)
test_y

(array([42.49, 14.42, 14.4 ,   nan, 28.15, 12.63, 12.84,   nan, 28.42,
        11.69,   nan, 32.  , 33.27, 12.45,   nan, 23.75, 24.26,   nan,
        23.89,   nan, 24.96, 32.31,   nan,   nan,   nan, 15.42,   nan,
        31.84, 28.07, 14.7 ,   nan,   nan,   nan,   nan, 24.03, 14.03,
          nan, 32.71, 12.93, 32.12, 12.3 ,   nan, 22.93, 14.92, 10.71,
        28.15, 14.5 ,   nan, 10.42, 38.35,   nan,   nan, 10.8 , 24.94,
        29.67, 14.54,   nan,   nan, 25.49, 14.66,   nan,   nan,   nan,
        28.95,  7.1 , 14.44,   nan,   nan, 32.24,   nan,   nan, 12.47,
        30.05, 18.88,   nan, 12.73, 16.55, 29.53, 37.26,   nan,   nan,
          nan,   nan, 15.19,   nan, 34.72,   nan,   nan, 41.32, 32.38,
          nan,   nan, 14.61, 14.6 , 15.55, 14.62,   nan, 12.19,  6.77,
          nan, 24.24, 15.29,   nan,   nan, 42.74,   nan, 15.37,   nan,
        11.33, 36.91, 14.45, 29.06, 24.17,   nan, 16.44, 28.93, 33.28,
          nan, 12.78, 29.9 ,   nan, 28.67, 28.05, 11.21,   nan, 18.19,
        10.39, 12.74, 24.25,   nan, 24.28, 28.83,   nan, 32.74, 41.67,
        17.5 ,   nan,   nan,   nan, 24.35, 28.4 ,   nan, 10.68,   nan,
        26.44,   nan,   nan,   nan, 40.6 , 39.83,   nan, 17.17, 40.79,
          nan, 12.28, 36.71,   nan, 23.54, 23.84, 35.24,  6.05, 11.61,
        36.45, 26.84, 36.52,   nan,   nan, 17.14,   nan, 40.57,   nan,
          nan,   nan,   nan,   nan, 36.13,   nan, 19.68,   nan, 38.98,
        35.69, 11.49,   nan, 10.54, 10.35,   nan,   nan, 16.35,   nan,
          nan, 40.78, 31.64, 36.26,   nan, 10.34, 10.72, 35.99,   nan,
        10.75, 32.73,   nan, 24.04, 15.41, 14.75, 23.53, 14.96,   nan,
          nan, 11.11,   nan,   nan,   nan,   nan, 36.57,   nan,   nan,
          nan, 25.37,   nan, 35.84, 14.16,   nan, 16.9 ,   nan, 14.53,
        18.84, 24.29, 25.66, 35.78, 39.01, 27.03, 24.33, 36.43, 13.86,
        38.33,   nan, 18.48,   nan, 29.43, 14.33, 29.83, 14.62, 12.34,
        14.7 , 15.09, 26.45,   nan, 14.51, 15.18, 32.67,   nan,   nan,
        14.32, 10.7 , 28.61,   nan, 32.46,   nan, 12.41,   nan]),
 array([38.81, 16.87, 17.27,   nan, 30.19, 15.81, 16.26,   nan, 34.19,
        13.65,   nan, 37.58, 32.64, 15.5 ,   nan, 27.38, 26.18,   nan,
        24.77,   nan, 29.43, 29.69,   nan,   nan,   nan, 19.34,   nan,
        31.6 , 34.14, 17.  ,   nan,   nan,   nan,   nan, 25.88, 15.47,
          nan, 33.13, 15.83, 34.7 , 15.44,   nan, 28.68, 17.55, 13.8 ,
        29.79, 17.12,   nan, 13.39, 43.66,   nan,   nan, 14.28, 29.88,
        30.65, 16.43,   nan,   nan, 28.14, 15.64,   nan,   nan,   nan,
        30.34, 12.23, 17.32,   nan,   nan, 33.94,   nan,   nan, 14.6 ,
        28.61, 22.07,   nan, 15.66, 16.56, 28.99, 34.62,   nan,   nan,
          nan,   nan, 19.3 ,   nan, 38.79,   nan,   nan, 46.23, 33.62,
          nan,   nan, 15.56, 15.3 , 21.33, 16.88,   nan, 14.94, 11.73,
          nan, 25.16, 17.89,   nan,   nan, 38.84,   nan, 19.18,   nan,
        15.  , 37.45, 16.93, 33.84, 25.35,   nan, 17.11, 28.2 , 33.16,
          nan, 15.8 , 31.27,   nan, 29.62, 32.35, 14.55,   nan, 20.21,
        13.5 , 13.97, 25.89,   nan, 25.68, 29.36,   nan, 30.53, 46.94,
        21.13,   nan,   nan,   nan, 25.64, 33.52,   nan, 14.12,   nan,
        27.17,   nan,   nan,   nan, 39.85, 36.66,   nan, 17.21, 44.87,
          nan, 15.64, 34.18,   nan, 24.61, 27.54, 37.27, 11.19, 13.83,
        36.81, 30.17, 37.29,   nan,   nan, 17.15,   nan, 40.47,   nan,
          nan,   nan,   nan,   nan, 37.58,   nan, 29.6 ,   nan, 45.97,
        40.66, 13.51,   nan, 16.8 , 13.65,   nan,   nan, 17.14,   nan,
          nan, 39.55, 36.86, 37.51,   nan, 13.36, 14.11, 36.07,   nan,
        14.27, 34.01,   nan, 26.18, 19.37, 16.44, 27.31, 17.64,   nan,
          nan, 14.28,   nan,   nan,   nan,   nan, 36.1 ,   nan,   nan,
          nan, 26.95,   nan, 38.35, 14.61,   nan, 16.79,   nan, 16.9 ,
        22.49, 25.95, 26.3 , 43.12, 45.28, 25.82, 25.98, 36.62, 16.1 ,
        44.16,   nan, 20.78,   nan, 28.38, 15.41, 29.82, 17.22, 14.92,
        17.2 , 17.2 , 27.33,   nan, 16.5 , 17.63, 32.12,   nan,   nan,
        16.9 , 13.75, 30.2 ,   nan, 33.64,   nan, 15.28,   nan]))

In [16]:
# normalize the data

norm_train_x = norm(train)
norm_test_x = norm(test)
norm_train_x

,X1,X2,X3,X4,X5,X6,X7,X8,Unnamed: 10,Unnamed: 11
593,0.267548,-0.417748,0.549009,-0.674309,1.020809,1.335407,1.271556,0.129070,NaN,NaN
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,-1.344143,1.530672,1.105351,0.952071,-0.978001,0.444646,0.145338,0.771247,NaN,NaN
1060,1.310407,-1.252784,-0.007332,-1.216436,1.020809,0.444646,-0.980879,0.771247,NaN,NaN
323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,-0.016868,-0.139402,2.218035,-1.216436,1.020809,-1.336874,0.145338,1.413424,NaN,NaN
835,0.551964,-0.696093,-0.007332,-0.674309,1.020809,0.444646,0.145338,-0.513107,NaN,NaN
341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#  model preparation for multiple output
input_layer = Input(shape = (len(train.columns), ))
first_dense = Dense(units = '128', activation = 'relu')(input_layer)
second_dense =  Dense(units = '128', activation='relu')(first_dense)

y1_output = Dense(units = '1', name='y1_output')(second_dense)

third_dense = Dense(units='64', activation='relu')(second_dense)

y2_output = Dense(units = '1', name= 'y2_output' )(third_dense)

model = Model(inputs = input_layer, outputs = [y1_output, y2_output])

model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_3 (InputLayer)            [(None, 10)]         0
__________________________________________________________________________________________________
dense (Dense)                   (None, 128)          1408        input_3[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 128)          16512       dense[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 64)           8256        dense_1[0][0]
__________________________________________________________________________________________________
y1_output (Dense)               (None, 1)            129         dense_1[0][0]
__________________________________________________________________________________________________
y2_output (Dense)               (None, 1)            65          dense_2[0][0]
==================================================================================================
Total params: 26,370
Trainable params: 26,370
Non-trainable params: 0
__________________________________________________________________________________________________

In [24]:
optimizer = tf.keras.optimizers.SGD(lr=0.001)
model.compile(optimizer=optimizer,
              loss={'y1_output': 'mse', 'y2_output': 'mse'},
              metrics={'y1_output': tf.keras.metrics.RootMeanSquaredError(),
                       'y2_output': tf.keras.metrics.RootMeanSquaredError()})

In [27]:
# Train the model for 500 epochs
history = model.fit(norm_train_x, train_y,
                    epochs=50, batch_size=10, validation_data=(norm_test_x, test_y))

Epoch 1/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 2/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 3/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 4/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 5/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 6/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 7/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 8/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 9/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 10/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 11/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 12/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 13/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 14/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 15/50
104/104 [==============================] - 0s 4ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 16/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 17/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 18/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 19/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 20/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 21/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 22/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 23/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan

Epoch 24/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 25/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 26/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 27/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 28/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 29/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 30/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 31/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 32/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 33/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 34/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 35/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 36/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 37/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 38/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 39/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 40/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 41/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 42/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 43/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 44/50
104/104 [==============================] - 0s 3ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 45/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 46/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan

Epoch 47/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 48/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 49/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan
Epoch 50/50
104/104 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan - val_loss: nan - val_y1_output_loss: nan - val_y2_output_loss: nan - val_y1_output_root_mean_squared_error: nan - val_y2_output_root_mean_squared_error: nan

In [28]:
# Test the model and print loss and mse for both outputs
loss, Y1_loss, Y2_loss, Y1_rmse, Y2_rmse = model.evaluate(x=norm_test_x, y=test_y)
print("Loss = {}, Y1_loss = {}, Y1_mse = {}, Y2_loss = {}, Y2_mse = {}".format(loss, Y1_loss, Y1_rmse, Y2_loss, Y2_rmse))

9/9 [==============================] - 0s 2ms/step - loss: nan - y1_output_loss: nan - y2_output_loss: nan - y1_output_root_mean_squared_error: nan - y2_output_root_mean_squared_error: nan
Loss = nan, Y1_loss = nan, Y1_mse = nan, Y2_loss = nan, Y2_mse = nan