In [71]:
import pandas as pd
from collections import Counter
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import os

In [72]:
df =pd.read_csv('./emotion.csv')

In [73]:
df.head()

   Unnamed: 0 emotion                                             quotes
0           0    love  I'm selfish, impatient and a little insecure. ...
1           1    love  You've gotta dance like there's nobody watchin...
2           2    love  You know you're in love when you can't fall as...
3           3    love  A friend is someone who knows all about you an...
4           4    love  Darkness cannot drive out darkness: only light...

In [74]:
df.shape

(4290, 3)

In [75]:
df.columns

Index(['Unnamed: 0', 'emotion', 'quotes'], dtype='object')

In [77]:
# data=df.drop(columns="Unnamed: 0",inplace=True)
df = df.dropna().reset_index(drop=True)

In [78]:
df.shape

(4289, 3)

In [79]:
df['emotion'].head()

0    love
1    love
2    love
3    love
4    love
Name: emotion, dtype: object

In [80]:
label_counts = Counter(df['emotion'].values)
label_counts.most_common()

[('love', 330),
 ('romance', 330),
 ('inspirational', 330),
 ('faith', 330),
 ('motivational', 330),
 ('religion', 330),
 ('spirituality', 330),
 ('god', 330),
 ('death', 330),
 ('science', 330),
 ('books', 330),
 ('knowledge', 330),
 ('happiness', 329)]

In [81]:
# 80% for train
train = df.sample(frac=0.8)
df.drop(train.index, axis=0, inplace=True)

# 10% for validation
valid = df.sample(frac=0.5)
df.drop(valid.index, axis=0, inplace=True)

# 10% for test
test = df

In [82]:
os.mkdir('./data')

FileExistsError: [Errno 17] File exists: './data'

In [83]:
train.to_csv('data/train.csv')
valid.to_csv('data/valid.csv')
test.to_csv('data/test.csv')

In [84]:
train.head()

,Unnamed: 0,emotion,quotes
1125,1126,inspirational,All the darkness in the world cannot extinguis...
905,906,happiness,If you have any young friends who aspire to be...
1333,1334,faith,I have come to accept the feeling of not knowi...
2257,2258,religion,إذا خفيت عنا الحكمة في العذاب أحيانا.. فلأننا ...
2836,2837,god,"Lift your hips for me, love."